---
version: 1.0

description: IDS automation workflow.

input:
  - event_time
  - device_ip
  - device_name
  - source_institution_code
  - source_ip
  - source_port
  - source_asset_name
  - source_country
  - source_mac
  - dest_institution_code
  - dest_ip
  - dest_port
  - dest_asset_name
  - dest_country
  - dest_mac
  - protocol
  - action
  - attack_type
  - account
  - risk_level

tasks:
  task1:
    action: kepsoar.alert_detection_ids event_time=<% ctx(event_time) %> device_ip=<% ctx(device_ip) %> device_name=<% ctx(device_name) %> source_institution_code=<% ctx(source_institution_code) %> source_ip=<% ctx(source_ip) %> source_port=<% ctx(source_port) %> source_asset_name=<% ctx(source_asset_name) %> source_country=<% ctx(source_country) %> source_mac=<% ctx(source_mac) %> dest_institution_code=<% ctx(dest_institution_code) %> dest_ip=<% ctx(dest_ip) %> dest_port=<% ctx(dest_port) %> dest_asset_name=<% ctx(dest_asset_name) %> dest_country=<% ctx(dest_country) %> dest_mac=<% ctx(dest_mac) %> protocol=<% ctx(protocol) %> action=<% ctx(action) %> attack_type=<% ctx(attack_type) %> account=<% ctx(account) %> risk_level=<% ctx(risk_level) %>
    next:
      - when: <% succeeded() %>
        do: task2
  task2:
    action: kepsoar.save_log event_time=<% ctx(event_time) %> device_ip=<% ctx(device_ip) %> device_name=<% ctx(device_name) %> source_institution_code=<% ctx(source_institution_code) %> source_ip=<% ctx(source_ip) %> source_port=<% ctx(source_port) %> source_asset_name=<% ctx(source_asset_name) %> source_country=<% ctx(source_country) %> source_mac=<% ctx(source_mac) %> dest_institution_code=<% ctx(dest_institution_code) %> dest_ip=<% ctx(dest_ip) %> dest_port=<% ctx(dest_port) %> dest_asset_name=<% ctx(dest_asset_name) %> dest_country=<% ctx(dest_country) %> dest_mac=<% ctx(dest_mac) %> protocol=<% ctx(protocol) %> action=<% ctx(action) %> attack_type=<% ctx(attack_type) %> account=<% ctx(account) %> risk_level=<% ctx(risk_level) %>
    next:
    - publish:
      - stuff_result_stdout: <% result().stdout %>
      - when: "{{ succeeded() }}"
      do:
      - "task3"
  task3:
    action: core.remote cmd="source venv/bin/activate && python3 Multi_AI_Agent/main.py <% ctx().stuff_result_stdout %> script" hosts="168.188.128.36:20140" cwd="/root" username="root" password="hg1101sms3550" timeout=300
